* {
    padding: 0;
    margin: 0;
}

.logo {
    height: 8vh;
}

.navbar a {
    color: black;
    font-weight: 500;
}

.sp {
    letter-spacing: 5px;
}


/* home section  */

.home {
    width: 100%;
    height: 100vh;
    padding-top: 7%;
}

.home .col {
    height: 85vh;
}

.home .col1 {
    padding-top: 10%;
}

.home .col1 p {
    font-size: 20px;
}

.home .col1 i {
    padding: 5% 5% 0 0;
    margin-bottom: 10%;
    font-size: larger;
    color: rgba(0, 0, 255, 0.419);
    transition: all ease 0.5s;
}


.home .col1 i:hover {
    color: blue;
    transform: translateY(-10px);
}

.home .col1 .h-btn {
    text-decoration: none;
    color: white;
    background: linear-gradient(to right, #453DD5 20%, #DE25A3);
    border-radius: 10px;
    padding: 15px 25px;
    transition: all ease 0.5s;
}

.home .col1 .h-btn:hover {
    background: linear-gradient(to right, #DE25A3 10%, #453DD5);
}

.hero-bg {
    background-image: url(../Assets/hero.png);
    height: 95%;
    border-radius: 100% 100% 0% 0%;
    width: 100%;
    background-position: center;
    background-size: cover;
    padding-top: 15px;
    padding-left: 46px;
    margin-top: 25px;
}


@media screen and (max-width:820px) {
    .home {
        height: 40vh;
        padding-top: 20%;
    }

    .home .col1 {
        margin-top: 20px;
    }

    .home .col2 {
        display: none;
    }
}

/* about section  */
.about {
    width: 100%;
    height: 100vh;
}

.about .col1 {
    height: 100vh;
}

.a-m {
    width: 100%;
    height: 60%;
    border-radius: 50px;
    background: linear-gradient(to right, blue 20%, #de25a3);
    padding-top: 8%;
    padding-left: 20%;
}

.a-img {
    width: 70%;
    border-radius: 50%;
    border: 5px solid #de25a3;
}


.about .col2 {
    height: 100vh;
    padding: 10% 0 0 5%;
}

.about .col2 .h-btn {
    text-decoration: none;
    color: white;
    background: linear-gradient(to right, #453DD5 20%, #DE25A3);
    border-radius: 10px;
    padding: 15px 25px;
    transition: all ease 0.5s;
}

.about .col2 .h-btn:hover {
    background: linear-gradient(to right, #DE25A3 10%, #453DD5);
}

@media screen and (max-width:400px) {
    .about {
        height: 140vh;
        margin-top: 20%;
    }

    .about .col1{
        height: 60vh;
    }
}

@media (min-width:400px) and (max-width:600px) {
    .about {
        height: 200vh;
    }
}

@media (min-width:600px) and (max-width:900px) {
    .about {
        height: 135vh;
    }
}

/* services section */
.service {
    width: 100%;
    height: 120vh;
    padding-top: 6%;
}

.s-text {
    width: 40%;
    padding-bottom: 6%;
}

.s-text .h1 {
    font-size: 50px;
    font-weight: bold;
    padding-top: 10px;
}

.service .col div {
    height: 70vh;
    background-color: #FDF2FF;
    transition: all ease 1s;
}

.service .col div:hover {
    background-color: blue;
    color: white;
}

.service i {
    font-size: 50px;
    padding-bottom: 15%;
    padding-top: 15%;
    font-weight: bold;
}

.service .h-btn {
    text-decoration: none;
    color: white;
    background: linear-gradient(to right, #453DD5 20%, #DE25A3);
    border-radius: 10px;
    padding: 15px 20px;
    transition: all ease 0.5s;
    font-weight: 500;
}

.service .h-btn:hover {
    background: linear-gradient(to right, #DE25A3 10%, #453DD5);
}

@media screen and (max-width:400px){
    .service {
        height: 270vh;
    }

    .s-text {
        width: 80%;
    }

    .s-text h1 {
        font-size: 30px;
    }

    .service .col div {
        height: 70vh;
    }
}

@media (min-width:400px) and (max-width:600px) {
    .service {
        height: 330vh;
        margin: 0 5%;
    }

    .s-text {
        width: 80%;
    }

    .s-text h1 {
        font-size: 30px;
    }

    .service .col div {
        height: 90vh;
    }
}

@media (min-width:600px) and (max-width:999px) {
    .service {
        height: 180vh;
    }

    .s-text {
        width: 60%;
    }

    .s-text h1 {
        font-size: 50px;
    }

    .service .col div {
        height: 50vh;
    }
}

/* pricing section  */

#pricing {
    background: var(--white-smoke);
}

.p-text {
    padding-left: 10%;
    padding-top: 6%;
}


:root {
    --pinkish-red: #C35A74;
    --medium-blue: #307BAA;
    --greenish-blue: #53BAB5;
    --bright-orange: #FF7445;
    --white-smoke: #F5F5F4;
    --white: #FFF;
    --dark-gray: #7D7C7C;
    --black: #000;
}

.pricing {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 100px;
}

.box {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 300px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;

    background: var(--white);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 20%);
}

.title {
    width: 100%;
    padding: 10px 0;
    font-size: 1.2em;
    font-weight: lighter;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    color: var(--white-smoke);
}

.basic .title {
    background: var(--pinkish-red);
}

.standard .title {
    background: var(--medium-blue);
}

.business .title {
    background: var(--greenish-blue);
}

.view {
    display: block;
    width: 100%;
    padding: 30px 0 20px;

    background: var(--white-smoke);
}

.icon {
    display: flex;
    justify-content: center;
}

.icon img {
    width: 100px;
}

.cost {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 10px;
}

.amount {
    font-size: 2.8em;
    font-weight: bolder;
}

.detail {
    margin: auto 0 auto 5px;
    width: 70px;
    font-size: 0.7em;
    font-weight: bold;
    line-height: 15px;
    color: #7D7C7C;
}

.description {
    margin: 30px auto;
    font-size: 0.8em;
    color: #7D7C7C;
}

ul {
    list-style: none;
}

li {
    margin-top: 10px;
}

.pricing li::before {
    content: "";
    background-image: url("https://i.postimg.cc/ht7g996V/check.png");
    background-position: center;
    background-size: cover;
    opacity: 0.5;

    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.pricing .button {
    margin: 0 auto 30px;
}

.pricing button {
    height: 40px;
    width: 150px;
    font-weight: 500;
    font-size: 0.7em;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #7D7C7C;
    border: 2px solid var(--dark-gray);
    border-radius: 50px;
    background: transparent;
    transition: all ease 0.5s;
}

.pricing button:hover {
    color: var(--white-smoke);
    transition: 0.5s;
    border: none;
    background: linear-gradient(to right, #DE25A3 10%, #453DD5)
}

/* Responsiveness:Start */
@media screen and (max-width:970px) {
    .p-text {
        text-align: center;
        padding-left: 0;
    }
    .p-text h2{
        margin: auto;
        width: 80%;
    }

    .content {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 50px auto;
    }

    .standard,
    .business {
        margin-top: 25px;
    }
}

/* Responsiveness:End */



/* portfolio section */
.portfolio {
    width: 100%;
    height: 170vh;
    padding-top: 6%;
}

.p-text2 {
    padding-left: 7%;

}

.main {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.portfolio .btn {
    color: #ffffff;
    padding: 0.9rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
    font-weight: 500;
    letter-spacing: 2px;
}

.portfolio .btn:hover {
    background-color: rgba(255, 255, 255, 0.194);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.card_text1 {
    padding-top: 3px;
}

.cards_item {
    display: flex;
    padding: 1rem;
}

@media (min-width: 40rem) {
    .cards_item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards_item {
        width: 33.3333%;
    }
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card_content {
    padding: 1rem;
    background: linear-gradient(to bottom left, #ee98a5 40%, #d6ab91 100%);
}

.card_title {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
}

.card_text {
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
}

.made_by {
    font-weight: 400;
    font-size: 13px;
    margin-top: 35px;
    text-align: center;
}

@media screen and (max-width:400px) {
    .portfolio {
        height: 350vh;
        margin-top: 10%;
    }
}


@media (min-width:400px) and (max-width:600px) {
    .portfolio {
        height: 320vh;
    }
}


@media (min-width:600px) and (max-width:900px) {
    .portfolio {
        height: 150vh;
    }
}


/* contact section  */

.contact {
    width: 100%;
    height: 100vh;
    padding-top: 7%;
}

.contact .h-btn {
    text-decoration: none;
    color: white;
    background: linear-gradient(to right, #453DD5 20%, #DE25A3);
    border-radius: 10px;
    padding: 12px 28px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all ease 0.5s;
}


.contact .h-btn:hover {
    background: linear-gradient(to right, #DE25A3 10%, #453DD5);
}

.contact i {
    font-size: 30px;
    padding-right: 20px;
    padding-top: 10px;
    color: #928c93;
}

.contact .col2 div div {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

@media screen and (max-width:400px){
    .contact{
        height: 110vh;
    }
}
/* footer section */
footer{
    width: 100%;
    height: 70vh;
    background-color: #000;
    color: white;
    text-align: center;
    padding: 5%;
}

footer i{
    background-color: white;
    color: black;
    padding: 15px 15px;
    border-radius: 50%;
    font-weight: bold;
    margin: 1%;
    margin-top: 3%;
    font-size: 20px;
    transition: all ease 0.5s;
}

footer i:hover{
    transform: translateY(-15px);
    background: linear-gradient(to right, #453DD5 20%, #DE25A3);
    transform: rotate(360deg);
    color: white;
}

footer p{
    font-size: 20px;
    padding-top: 5%;
}

@media screen and (max-width:400px){
    footer{
        height: 50vh;
    }

    footer img{
        width: 60%;
        padding-bottom: 10%;
        padding-top: 10%;
    }

    footer i{
        margin-bottom: 10%;
    }
}
